/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require auctions
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("blue", "darken-1") !default;
 $secondary-color: color("blue", "base") !default;
 @import "materialize";
 @import "material_icons";


 .product-profile {
 	.card-title {
 		font-size: 14pt;
 	}
 }

 nav {
 	a.brand-logo#logo {
 		left: 1rem;
 	}
 }

	.pagination{
		li.first, li.last, li.prev, li.next_page {
			width: initial;
      a {
				// width: initial;
				padding: 0
			}
		}
	} 
 table {
 	tr {
 		td {
 			.table-image { 
 			    width: 60px;
 			    margin: 0;
			    height: 60px;
			    overflow: hidden;		
	 			img {
	 		
 				}
 			}
 		}
 	}
 }

