// Place all the styles related to the auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  .card-title.on-preview
    {
      font-size: 32px;
      margin-left: 15px;
      padding: 5px;
    }

  .card-content {
    p.on-preview
    {
      margin-bottom: 10px;
    }
  }
}